{{#extends "base"}}

{{#block "content"}}
<form method = "POST">
    <div class="alert alert-danger">
        Are you sure want to delete {{product.name}}
    <div>
        <a href="/products">

<a class="btn btn-success btn-sm" href="/products>Cancel</a>
<input value="confirm" type="submit" class ="btn btn-danger btn-sm>"
</div>
</div>
</form>
{{/block}}

{{/extends}}