{{#extends 'base'}}

{{#block "content"}}
<h1>Welcome to Sing school</h1>
<p>Sing School is a dedicated institution focused on nurturing and developing the vocal talents of individuals of all ages. Whether you're a beginner looking to find your voice or an experienced singer aiming to refine your skills, Sing School offers a comprehensive curriculum designed to help you achieve your musical goals.
Our mission is to provide high-quality vocal education in a supportive and inspiring environment. We aim to help students build confidence, technical skills, and a deep love for singing.</p>


{{/block}}

{{/extends}}